<!--
PAGINA PRINCIPALA
-->
<div ng-cloak>
    <div class="row " style="height: 250px">

        <div class="col-md-4" style="width: 20%;">
            <span class="tiri img-responsive img-rounded"></span>

        </div>

        <div class="col-md-4">
            <h1 translate="main.title">Bine ai venit !</h1>

            <div ng-switch="isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" translate="main.logged.message"
                     translate-values="{username: '{{account.login}}'}">
                    Acum esti logat ca "{{account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register">
                    Nu ai un cont ?
                </div>

                <a ng-switch-when="false" translate="global.menu.account.register" class="btn btn-info" role="button"
                   href="#/register">Creaza un cont !</a>
                <a href="#/login" ng-switch-when="false" class="btn btn-info" role="button"
                   translate="global.menu.account.login">Link Button</a>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div ng-switch="isAuthenticated()">


                <div ng-switch-when="false">

                    <h2 translate="suntemegaliApp.job.home.title">Jobs</h2>
                    <label>Search: <input ng-model="searchText"></label>

                    <div class="modal fade" id="saveJobModal" tabindex="-1" role="dialog" aria-labelledby="myJobLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                                ng-click="clear()">&times;</button>
                                        <h4 class="modal-title" id="myJobLabel"
                                            translate="suntemegaliApp.job.home.createOrEditLabel">Create or edit a
                                            Job</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input type="text" class="form-control" name="id"
                                                   ng-model="job.id" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label translate="suntemegaliApp.job.name">Name</label>
                                            <input type="text" class="form-control" name="name"
                                                   ng-model="job.name" required>

                                            <div ng-show="editForm.name.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.name.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label translate="suntemegaliApp.job.city">City</label>
                                            <input type="text" class="form-control" name="city"
                                                   ng-model="job.city" required>

                                            <div ng-show="editForm.city.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.city.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label translate="suntemegaliApp.job.description">Description</label>
                                            <input type="text" class="form-control" name="description"
                                                   ng-model="job.description" required>

                                            <div ng-show="editForm.description.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.description.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label translate="suntemegaliApp.job.requirements">Requirements</label>
                                            <input type="text" class="form-control" name="requirements"
                                                   ng-model="job.requirements" required>

                                            <div ng-show="editForm.requirements.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.requirements.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                                ng-click="clear()">
                                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                            translate="entity.action.cancel">Cancel</span>
                                        </button>
                                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                            translate="entity.action.save">Save</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="deleteJobConfirmation">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form name="deleteForm" ng-submit="confirmDelete(job.id)">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                                ng-click="clear()">&times;</button>
                                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete
                                            operation</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p translate="suntemegaliApp.job.delete.question"
                                           translate-values="{id: '{{job.id}}'}">Are you sure you want to delete this
                                            Job?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                                ng-click="clear()">
                                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                            translate="entity.action.cancel">Cancel</span>
                                        </button>
                                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                                            translate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th translate="suntemegaliApp.job.name">Name</th>
                                <th translate="suntemegaliApp.job.city">City</th>

                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="job in jobs | filter:searchText" >
                                <td><a ui-sref="jobDetail({id:job.id})">{{job.id}}</a></td>
                                <td>{{job.name}}</td>
                                <td>{{job.city}}</td>

                                <td>
                                    <button type="submit"
                                            ui-sref="jobDetail({id:job.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                                        translate="entity.action.view"> View</span>
                                    </button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pager">
                                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">
                                    &lt;&lt;</a>
                                </li>
                                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div ng-switch-when="true">

                    <h2 translate="suntemegaliApp.job.home.title">Jobs</h2>

                    <label>Search: <input ng-model="searchText"></label>

                    <div class="modal fade" id="saveJobModal" tabindex="-1" role="dialog" aria-labelledby="myJobLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                                ng-click="clear()">&times;</button>
                                        <h4 class="modal-title" id="myJobLabel"
                                            translate="suntemegaliApp.job.home.createOrEditLabel">Create or edit a
                                            Job</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input type="text" class="form-control" name="id"
                                                   ng-model="job.id" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label translate="suntemegaliApp.job.name">Name</label>
                                            <input type="text" class="form-control" name="name"
                                                   ng-model="job.name" required>

                                            <div ng-show="editForm.name.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.name.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label translate="suntemegaliApp.job.city">City</label>
                                            <input type="text" class="form-control" name="city"
                                                   ng-model="job.city" required>

                                            <div ng-show="editForm.city.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.city.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label translate="suntemegaliApp.job.description">Description</label>
                                            <input type="text" class="form-control" name="description"
                                                   ng-model="job.description" required>

                                            <div ng-show="editForm.description.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.description.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label translate="suntemegaliApp.job.requirements">Requirements</label>
                                            <input type="text" class="form-control" name="requirements"
                                                   ng-model="job.requirements" required>

                                            <div ng-show="editForm.requirements.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.requirements.$error.required"
                                                   translate="entity.validation.required">
                                                    This field is required.
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                                ng-click="clear()">
                                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                            translate="entity.action.cancel">Cancel</span>
                                        </button>
                                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                            translate="entity.action.save">Save</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="deleteJobConfirmation">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form name="deleteForm" ng-submit="confirmDelete(job.id)">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                                ng-click="clear()">&times;</button>
                                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete
                                            operation</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p translate="suntemegaliApp.job.delete.question"
                                           translate-values="{id: '{{job.id}}'}">Are you sure you want to delete this
                                            Job?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                                ng-click="clear()">
                                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                            translate="entity.action.cancel">Cancel</span>
                                        </button>
                                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                                            translate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th translate="suntemegaliApp.job.name">Name</th>
                                <th translate="suntemegaliApp.job.city">City</th>

                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="job in jobs | filter :searchText">
                                <td><a ui-sref="jobDetail({id:job.id})">{{job.id}}</a></td>
                                <td>{{job.name}}</td>
                                <td>{{job.city}}</td>

                                <td>
                                    <button type="submit"
                                            ui-sref="jobDetail({id:job.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                                        translate="entity.action.view"> View</span>
                                    </button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pager">
                                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">
                                    &lt;&lt;</a>
                                </li>
                                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>


            </div>

        </div>

    </div>

</div>
</div>

