<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">Activarea contului Suntem egali</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Draga utilizator
        </p>
        <p th:text="#{email.activation.text1}">
             Contul dumneavoastra a fost creat te rugam acceseaza linkul de mai jos pentru activarea contului:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}"
               th:text="|${user.login}|">Link de activare</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Toate cele bune, </span>
            <br/>
            <em th:text="#{email.signature}">Echipa suntem egali.</em>
        </p>
    </body>
</html>
