<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 translate="register.title">Inregistrare</h1>

            <div class="alert alert-success" ng-show="success" translate="register.messages.success">
                <strong>Inregistrare salvata!</strong> Va rugam sa va uitati pe mail pentru a putea confirma si activa contul.
            </div>

            <div class="alert alert-danger" ng-show="error" translate="register.messages.error.fail">
                <strong>Inregistrare nereusita!</strong> Te rugam incearca mai tarziu.
            </div>

            <div class="alert alert-danger" ng-show="errorUserExists" translate="register.messages.error.userexists">
                <strong>Acest nume este deja folosit!</strong> Te rugam cauta altul.
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists" translate="register.messages.error.emailexists">
                <strong>E-mail is este deja folosit!</strong> Te rugam alege altul.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch" translate="global.messages.error.dontmatch">
                Parola si confirmarea ei nu sunt aceleasi!
            </div>

            <form ng-show="!success" name="form" role="form" novalidate ng-submit="register()" show-validation>

                <div class="form-group">
                    <label translate="global.form.username">Login</label>
                    <input type="text" class="form-control" name="login" placeholder="{{'global.form.username.placeholder' | translate}}"
                           ng-model="registerAccount.login" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[a-z0-9]*$/" required>
                    <div ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block"
                               ng-show="form.login.$error.required" translate="register.messages.validate.login.required">
                            Inregistrarea ta este necesara
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.minlength" translate="register.messages.validate.login.minlength">
                            Inregistrarea trebuie sa aiba caractere.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.maxlength" translate="register.messages.validate.login.maxlength">
                            Numele tau nu poate sa aiba mai mult de  50 caractere.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.pattern" translate="register.messages.validate.login.pattern">
                           Numele tau de inregistrare poate sa contina doar litere mici si numere.
                    </p>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           ng-model="registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                           E-mailul tau este necesar.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
                            E-mailul tau este invalid.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
                            E-mailul tau trebuie sa aibe macar 5 caractere.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                            E-mailul tau nu poata sa contina mai mult de 100 de caractere.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="global.form.newpassword">Parola Noua</label>
                    <input type="password" class="form-control" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           ng-model="registerAccount.password" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                               ng-show="form.password.$error.required" translate="global.messages.validate.newpassword.required">
                            Parola ta este necesara.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.minlength" translate="global.messages.validate.newpassword.minlength">
                            Parola ta trebuie sa aiba cel putin 5 caractere.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.maxlength" translate="global.messages.validate.newpassword.maxlength">
                            Parola ta nu poate fi mai mare de  50 characters.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="registerAccount.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label translate="global.form.confirmpassword">New password confirmation</label>
                    <input type="password" class="form-control" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.required" translate="global.messages.validate.confirmpassword.required">
                            Parola de confirmare este necesara.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength" translate="global.messages.validate.confirmpassword.minlength">
                         Parola ta de confirmare trebuie sa aiba cel putin 5 caractere.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                           Parola ta de confirmare trebuie sa aiba cel mult 50 de caractere.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="register.form.button">Inregistrare</button>
            </form>
            <p></p>

        </div>
    </div>
</div>
